@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

:root {
  font-family: Oswald;
  background-color: azure;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: azure;
}
img {
  width: 300px;
  height: 200px;
}
.preview {
  width: 90%;
  background-color: papayawhip;
  border: solid grey 2px;
  color: grey;
  min-height: 300px;

}

.div-form {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
 display: block;
}
.preview-title {
  width: auto;
  background-color: wheat;
  border: solid grey 2px;
  margin: 0;
  padding: 4px;
  font-size: large;
  font-weight: bold;
  color: #282c34;
  
}

textarea {
  background-color: papayawhip;

  border: solid grey 2px;
}
.div-form, .preview {
  box-shadow: 10px 10 black;
}

@media only screen and (min-width: 600px) {
  .preview {
  max-width: 600px;

  }
}