@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap');


:root {
  font-family: 'Oswald', sans-serif;
  background-color: azure;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: azure;
}
img {
  width: 300px;
  height: 200px;
}
.preview {
  width: 100%;
  background-color: papayawhip;
  border: solid grey 0.px;
  border-bottom: 0;
  min-height: 300px;

}
table, th, td {
  border: 1px solid;
}
code {
  padding: 2px;
  height: auto;
  width: 100%;
  background-color: white;
}
.markdown {
  padding: 1rem;
  font-family: 'Sofia Sans', sans-serif;
}
.div-form {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview-title {
  width: auto;
  background-color: wheat;
  border: solid grey 1px;
  margin: 0;
  padding: 4px;
  font-size: large;
  font-weight: bold;
  color: #282c34;
  
}

textarea {
  background-color: papayawhip;
  border: solid grey 1px;
  border-top: 0;
}
textarea, .preview, .preview-title {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-width: 600px) {
  .preview {
  max-width: 600px;

  }
}

@media (prefers-reduced-motion: no-preference) {
  img[src*="https://www.svgrepo.com/show/327388/logo-react.svg"] {
    animation: App-logo-spin infinite 20s linear;
    
}
  .App-logo {
    animation: App-logo-spin infinite 20s linear;

  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}